<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script>
    function sendItems() {
      const items = {
        'items': [1, 2, 3],
        'total': 10
      };
      fetch('/items', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(items),
      })
      .then(response => response.json())
      .then(data => console.log(`server response: ${data.message}`));
    }
  </script>
  <button onclick="sendItems()">Send Items</button>
  <h1 style="background: linear-gradient(45deg, rgb(70, 70, 204) 0%, rgb(1, 30, 1) 100%);">Hello how are you doing</h1>
</body>
</html>