nav{
            background: linear-gradient(90deg, rgba(70, 64, 64, 0.934), rgba(0, 0, 0, 0.882));
            color: white;
            display: flex;
            justify-content: space-evenly;
            position: sticky;
            top: 0%;
            .icon{
                padding: 10px;
                font-size: xx-large;
            }
        }


   s

    .flex {
        display: flex;
    }


@keyframes moveRight {

50%{
    transform: translateX(300px) scale(1.5);
}

}


.cart-icon{
    animation: moveRight 5s infinite;
}